.button {
	border: 2px solid #AC8420;
	color: #AC8420;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 15px;
	text-align: center;
	width: 120px;
}
.container {
	margin: 0 auto;
	overflow: hidden;
	padding: 30px;
	width: 620px;
}
.container_wide {
	width: 900px;
}
.clearfix{
	content: '';
	clear: both;
	display: block;
}

.footerbar {
	background: #222;
	height: 200px;
	width: 100%;
}
.footerlogo {
	background: url(../images/logo_small.png);
	display: block;
	height: 50px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 50px;
}
.footertext {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
.header {
	background: #111 url(../images/header.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	border-bottom: 10px solid #AC8420;
	height: 560px;
	width: 100%;
}

.headerlogo {
	background: url(../images/logo_large.png) no-repeat;
	display: block;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 99px;
}

h1,
h2,
h3 {
	font-family: 'Sanchez', serif;
}

h2 {
	font-size: 32px;
	text-align: center;
	margin: 0 0 20px;
}

.left {
	float: left;
}

.logo {
	color: #fff;
	font-size: 60px;
	font-weight: lighter;
	text-align: center;
}

.menu {
	background: #AC8420;
	border: 10px solid #AC8420;
	list-style-type: none;
}

.menu_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menucontent {
	border-bottom: solid 2px #9B761C;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 10px 0 15px;
}
.menuprice {
	color: #DECC9C;
}
p {
	color: #666;
	font-family: 'Lato', sans-serif;
}
.picture {
	margin: 0 auto;
	padding: 10 0 10 10px;
}
.right {
	float: right;
}

.welcome {
	color: #ccc;
	font-size: 22px;
	margin: 20px 0 0;
	text-align: center;
}